@font-face {
	font-family: "montserratMedium";
	src: url("./../../fonts/montserrat-medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "montserratBold";
	src: url("./../../fonts/montserrat-bold.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "frauncesBold";
	src: url("./../../fonts/fraunces-bold.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}