@charset "UTF-8";
@font-face {
  font-family: "montserratMedium";
  src: url("./../../fonts/montserrat-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "montserratBold";
  src: url("./../../fonts/montserrat-bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "frauncesBold";
  src: url("./../../fonts/fraunces-bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
	 Убираем внутренние отступы слева тегам списков,
	 у которых есть атрибут class
	*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
	 Убираем внешние отступы body и двум другим тегам,
	 у которых есть атрибут class
	*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
	 Убираем внешние отступы вертикали нужным тегам,
	 у которых есть атрибут class
	*/
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
	 Убираем стандартный маркер маркированному списку,
	 у которого есть атрибут class
	*/
:where(ul[class]) {
  list-style: none;
}

/**
	 Обнуляем вертикальные внешние отступы параграфа,
	 объявляем локальную переменную для внешнего отступа вниз,
	 чтобы избежать взаимодействие с более сложным селектором
	*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
	 Внешний отступ вниз для параграфа без атрибута class,
	 который расположен не последним среди своих соседних элементов
	*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
	 Упрощаем работу с изображениями
	*/
img {
  display: block;
  max-width: 100%;
}

/**
	 Наследуем свойства шрифт для полей ввода
	*/
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  	Пригодится в большинстве ситуаций
  	(когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
  	Плавный скролл
    */
  scroll-behavior: smooth;
}

body {
  /**
  	Пригодится в большинстве ситуаций
  	(когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
  	Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
	 Приводим к единому цвету svg-элементы
	*/
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
	 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	*/
svg * {
  transition-property: fill, stroke;
}

/**
	 Удаляем все анимации и переходы для людей,
	 которые предпочитают их не использовать
	*/
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-dark: hsl(212, 21%, 14%);
  --color-light: hsl(0, 0%, 100%);
  --color-cream: hsl(30, 38%, 92%);
  --color-grey: hsl(228, 12%, 48%);
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);
  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --shadow: 0 5px 0 0 var(--color-dark);
  --container-width: 1240px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;
  --input-height: 59px;
  --button-height: 68px;
  --button-height-small: 40px;
  --transition-duration: 0.2s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 50px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 30px;
  }
}

/* глобальные стили для элементов html и body
 а атк же глобальные стили для элементов:
 - button
 - input
 - a
 и тд

 */
.none {
  display: none;
}

* {
  scrollbar-color: var(--color-accent) var(--color-gray);
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-gray);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 5px;
  border: 3px solid var(--color-green-500);
}

body {
  font-size: clamp(12px, 0.9722222222vw, 14px);
  font-family: "montserratMedium", sans-serif;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-cream);
}
body.modal-open {
  overflow: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1,
.h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2,
.h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3,
.h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4,
.h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; /* Вертикальное выравнивание */
  justify-items: center; /* Горизонтальное выравнивание */
  max-width: 800px;
  border-radius: var(--border-radius);
  overflow: hidden;
  background: var(--color-light);
}
@media (max-width: 767px) {
  .card__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card__img {
  background-image: url("./../../assets/images/image-product-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .card__img {
    background-image: url("./../../assets/images/image-product-mobile.jpg");
    height: 200px;
    background-position: bottom;
  }
}
.card__text {
  padding: 40px;
}
@media (max-width: 767px) {
  .card__text {
    padding: 20px;
  }
}
.card__name {
  color: var(--color-grey);
  text-transform: uppercase;
  letter-spacing: 4px;
}
.card__title {
  font-size: clamp(24px, 2.5vw, 36px);
  font-family: "frauncesBold", sans-serif;
  line-height: 1;
  max-width: 230px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .card__title {
    font-size: clamp(28px, 3.1944444444vw, 46px);
  }
}
.card__subtext {
  color: var(--color-grey);
  max-width: 230px;
  line-height: 1.5;
  margin-top: 20px;
}
.card__btn {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  color: var(--color-light);
  background: var(--color-green-500);
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.card__btn::before {
  content: "";
  display: inline-block;
  background-image: url("./../../assets/images/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.card__btn:hover {
  background: var(--color-green-700);
}

.price {
  margin-top: 20px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
}
.price__new {
  color: var(--color-green-500);
  font-family: "frauncesBold", sans-serif;
  font-size: clamp(24px, 2.5vw, 36px);
}
.price__old {
  color: var(--color-grey);
  text-decoration: line-through;
}